/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
 
  main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}
 
  /* Shared Style */
  .display-flex {
    display: flex;
  }
  .dark-2 {
    color: #424242;
  }
.dark-3{
    color: #727272;
}
.bg-light {
   background-color:  rgba(255, 144, 14, 0.1);
}
.btn-primary {
    background-color:  #FF900E;
    color: white;
    font-size: 1.2rem;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}
.btn-primary:hover {
    background-color:  #2180d8d8;
    transition: .5s;
}
.primary-color {
    color:  #FF900E;
}
.light-weight {
    font-weight: lighter;
}

.section-title{
    font-size: 2.8rem;
}
/* Header Style */
.brand {
    font-weight: 700;
    font-size: 2.8rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    list-style: none;
    margin-right: 30px;
}
.nav-link {
    text-decoration: none;
    font-weight: 500;
}
.navbar,.banner {
    max-width: 1300px;
    margin: 0 auto;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-img{
    width: 100%;
}
.banner-title {
    margin-bottom: 30px;
    font-size:4rem;
}
.banner-description {
    margin-bottom: 30px;
}

/* Teams Section */
.teams{
    align-items: center;
    justify-content: space-between;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
.feature-description {
    margin: 30px 0;
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

/* some facts */
.fact-desription {
    max-width: 540px;
    margin-bottom: 100px;
}
.facts-container {
display: grid;
grid-template-columns: repeat(4,1fr);
margin-top: 20px;
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
     justify-content: center; 
}

.fact-number {
    font-size: 2.6rem;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
}


/* Responsive Media Query */
@media screen and (max-width:576px)  {
    .navbar, 
    .nav-links ,
    .teams {
        flex-direction: column;
        gap: 20px;
    }
    .teams-image-container, .facts-container  {
        grid-template-columns: repeat(1,1fr);
    }
    .facts-container {
        justify-items: center;
        gap: 20px
    ;
    }

}
